name: Security Scan (SAST)

on:
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  schedule:
    - cron: "21 10 * * 5" # Run weekly on Friday

permissions:
  contents: read

jobs:
  analyze:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ["javascript-typescript"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Initialize CodeQL
        uses: github/codeql-action/init@0317bd866e2a5371dd9827110664107b306af4a8 # v3.28.5
        with:
          languages: ${{ matrix.language }}
          # If you wish to specify custom queries, you can do so here or in a config file.
          # By default, queries listed here will override any specified in a config file.
          # Prefix the list here with "+" to use these queries and those in the config file.

      - name: Autobuild
        uses: github/codeql-action/autobuild@0317bd866e2a5371dd9827110664107b306af4a8 # v3.28.5

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@0317bd866e2a5371dd9827110664107b306af4a8 # v3.28.5
        with:
          category: "/language:${{matrix.language}}"
